.App {
  text-align: center;
}

.catchPoint {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  margin: 10px;
  width: 30vw;
  height: 25vh;
  background: black;
  border: 2px solid gold;
}

.game_buttons {
  display: flex;
  justify-content: center;
}

.start_game {
  cursor: pointer;
  background: black;
  color: gold;
  border: 2px solid gold;
  width: 4vw;
  height: 2vw;
  margin: 5px;
}

.stop_game {
  cursor: pointer;
  background: black;
  color: gold;
  border: 2px solid gold;
  width: 2vw;
  height: 2vw;
  margin: 5px;
}

.win_popUp {
  width: 50vw;
  height: 50vh;
  position: absolute;
  left: 25%;
  top: 33%;
  border: 5px solid gold;
  background: rgb(12, 12, 12);
  position: fixed;
  border-radius: 10px;
  font-size: 50px;
}

.text_win {
  color: gold;
  margin-left: 60px;
  position: relative;
  top: 15%;
  font-size: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#option_value {
  display: none;
}

.chooose_level_popUp {
  top: 30%;
  left: 25%;
  width: 50vw;
  background: black;
  position: fixed;
  color: gold;
  border: 5px solid gold;
  
}

.disapear {
  display: none;
}

.inital_buttons {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
  padding: 4%;
}

.inital_text {
  position: relative;
  top: 15%;
}

.inital_h1 {
  border-bottom: 2px solid gold;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 25%;
  margin-right: 25%;
}

.inital_h2 {
  font-family: 'Courier New', Courier, monospace;
}

.option_buttons {
  color: gold;
  background: transparent;
  border: none;
}

.winPopup {
  display: none;
}

.contain_title {
  display: flex;
  justify-content: space-around;
}

.base_contain {
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'main main main main main'
    'main main main main main'
    'footer footer footer footer footer'
  ;
  display: grid;
  width: 100%;
  height: 100%;
}

.header_tag {
  grid-area: header;
  background: black;
  color: gold;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 2px solid gold;
}

.footer_tag {
  grid-area: footer;
  background: black;
  color: gold;
  font-family: 'Courier New', Courier, monospace;
  border-top: 2px solid gold;
}
.menu_icon{
  cursor: pointer;

}